body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}
.container {
  border: none;
  border-radius: 15px;
  background-color: antiquewhite;
  /* height: 50vh; */
  width: 25vw;
  box-shadow: 4px 5px 6px;
}
.header {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 900;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.add-task {
  display: flex;
  justify-content: space-evenly;
}
input {
  padding: 7px;
  border-radius: 5px;
}
button {
  background-color: rgba(24, 24, 241, 0.623);
  color: rgba(0, 0, 0, 0.897);
  padding: 4px;
  border-radius: 5px;
}
button:hover {
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
}
ul {
  list-style-type: none;
  padding: 15px;
}
li {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
